/*-------------------------------------------

    Title :  NTDTV local
    Usage :  Deals page
    Author:  NTDTV
    Edited:  2015-05-28

---------------------------------------------

		1. main content
		2. deals tabs

---------------------------------------------*/

/*  1. main content
---------------------------------------------*/

.featured-deals {
	background: white;
	width: 840px;
	clear: both;
}

.col-2 {
	width: 46%;
	float: left;
	height: 200px;
	background-color: gray;
}

.col-2:first-child {
	margin-right: 20px;
}

.col-2 img {
	width: 100%;
	height: 200px;
}

.col-3 {
	background-color: ;
	float: left;
	width: 30%;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.col-3 img {
	width: 100%;
	height: 170px;
}

div.capty-caption {
	background-color: #000;
	color: #FFF;
	padding-left: 10px;
	padding-top: 7px;
	text-shadow: 1px 1px 0 #222;
}

div.capty-caption a {
	color: #318DAD;
	font: bold 11px verdana;
	text-decoration: none;
	text-shadow: none;
}

div.capty-caption .txt {
	font-size: 1.5em;
}

div.capty-caption p {
	margin-top: 7px;
	font-size: 1.0em;
}

.clear {
	clear: both;
}

/*  2. deals tabs
---------------------------------------------*/

.deals-column {
	background: #f5f5f5;
	box-shadow: 0 5000px 0 5000px #f5f5f5;
}

.deals-column h3 {
	margin-bottom: -15px;
	padding-bottom: 9px;
	font-size: 2.2em;
	border-bottom: 1px solid #e5e5e5;
}

.deals-column ul {
	width: 840px;
}

.deals-column ul li {
	float: left;
	margin: 30px 32px 0 0;
	width: 248px;
}

.deals-column ul li .fig {
	display: block;
	margin-bottom: 12px;
	width: 248px;
	height: 140px;
}

.deals-column ul li .fig img {
	width: 100%;
	height: 100%;
}

.deals-column ul li .txt {
	font-weight: 700;
	font-size: 1.8em;
}

.deals-column ul li p {
	margin-top: 7px;
	color: #58585b;
	font-size: 1.2em;
	line-height: 1.334;
}

.deals-column:after {
	content: "";
	clear: both;
	display: block;
}

#hot {
	padding-bottom: 73px;
	background: url(../images/ajax-loader.gif) no-repeat 0 -5000px; /* preload image */
}

#featured + #hot {
	margin-top: 21px;
}

#hot .header {
	height: 50px;
}

#hot .header .fixable {
	position: relative;
	z-index: 10;
	padding-top: 14px;
	width: 808px;
	height: 50px;
	background: #fff;
}

.sticky-hot #hot .header .fixable {
	position: fixed;
	top: 0;
}

#hot .header .fixable:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: -2500px;
	width: 5000px;
	border-top: 2px solid #ebebeb;
}

#hot .header .fixable h3 {
	position: relative;
	z-index: 11;
	float: left;
	margin-right: 30px;
	color: #000;
	font-size: 2.2em;
}

#hot .header .fixable ul:before {
	content: "";
	position: absolute;
	top: 0;
	left: -2500px;
	width: 5000px;
	height: 48px;
	background: #fff;
}

#hot .header .fixable ul li h4 {
	position: relative;
	z-index: 1;
	float: left;
	padding: 4px 31px 11px;
	height: 36px;
	cursor: pointer;
	color: #58585a;
	text-align: center;
	border-bottom: 2px solid #ebebeb;
}

#hot .header .fixable ul li h4.curr {
	color: #28235f;
	border-bottom-color: #28235f;
}

#hot .header .fixable ul li h4:before {
	background-color: #58585a;
}

#hot .header .fixable ul li h4.curr:before {
	background-color: #28235f;
}

#hot .header .fixable:after {
	content: "";
	clear: both;
	display: block;
}

#hot .ad {
	position: relative;
	z-index: 1;
	margin: 27px -50px 0 0;
	width: 100%;
	border: solid #f5f5f5;
	border-width: 0 0 35px 35px;
}

#hot .items {
	position: relative;
	clear: left;
	padding-top: 30px;
	width: 100%;
	background: #f5f5f5;
	box-shadow: 0 5000px 0 5000px #f5f5f5;
}

#hot .items .item {
	position: relative;
	margin-bottom: 15px;
	padding: 0 0 15px 278px;
	min-height: 156px;
	border-bottom: 1px solid #ebebeb;
}

.ie8 #hot .items .item {
	min-height: 140px;
}

#hot .items .item .fig {
	position: absolute;
	top: 0;
	left: 0;
	width: 248px;
	height: 140px;
}

#hot .items .item .fig img {
	width: 100%;
	height: 100%;
}

#hot .items .item .fig small {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 38px;
	width: 100%;
	height: 24px;
	color: #fff;
	font-size: 1.2em;
	line-height: 24px;
	background: rgba(253, 199, 45, 0.95);
}

.ie8 #hot .items .item .fig small {
	background: rgb(253, 199, 45);
}

#hot .items .item .time {
	display: block;
	margin-bottom: 6px;
	color: #ababad;
	font-size: 1.2em;
}

#hot .items .item .txt {
	color: #000;
	font-weight: 700;
	font-size: 1.8em;
	line-height: 1.112;
}

#hot .items .item p {
	margin-top: 7px;
	color: #58585b;
	font-size: 1.2em;
	line-height: 1.334;
}

#hot .items .item .meta {
	margin-top: 10px;
	color: #ababab;
	font-size: 1.2em;
}

#hot .items .item .meta .section {
	margin-right: 13px;
}

#hot .items .item .meta .section ~ span {
	margin-right: 8px;
}

#hot .items .item .meta .section + span + span ~ span:before {
	margin-right: 2px;
}

#hot .items:after {
	content: "";
	clear: both;
	display: block;
	}

/*  1. bottom tabs
---------------------------------------------*/